/* Style for the centering container */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Style for the button with rounded corners */
  #cyberWizardsBtn {
    padding: 150px 200px; /* Larger padding for a larger button */
    font-size: 100px; /* Larger font size */
    color: #fff;
    border: none;
    border-radius: 20px; /* Adjust the border-radius for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  /* Glow effect on hover */
  #cyberWizardsBtn:hover {
    box-shadow: 0 0 10px #3498db;
  }
  